<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410758560388-29aevjntkoeel2phcv3klfa32vq67ejp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410758560388-29aevjntkoeel2phcv3klfa32vq67ejp</string>
	<key>API_KEY</key>
	<string>AIzaSyCDYAQoKYqvnx9t8e6RyzBUxfy9oSaRbTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>410758560388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankSystem</string>
	<key>PROJECT_ID</key>
	<string>fir-proj-b7593</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-proj-b7593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410758560388:ios:d2f89575851176e66fa0d1</string>
</dict>
</plist>